@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body{
    background-color: rgba(0, 0, 0, 0.904);
    font-family: "Inconsolata", monospace;
}

.home{
    h1, h2, p{
        color: #C5C5C5;
        text-wrap: wrap;
        word-break: break-all;
    }
    .center{
        text-align: center;
    }
    .top_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5em auto;
        width: 70%;
        img{
            width: 280px;
            margin-right: 2em;
        }
    }
    .card_container{
        margin-top: 5em;
    }
}
