.container-slider{
    max-width: 900px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top:100px;
    // overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: SlideFadeIn .5s .2s forwards;
    vertical-align: middle;
    .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .4s;
        img{
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
    .hidden{
        opacity: 0;
    }
    .btn-slide{
        z-index: 90;
        color: lightgray;
        font-size: 40px;
        cursor: pointer;
        padding: .2em 0 0 0;
        background-color: rgb(20, 20, 20);
        border: none;
        -webkit-box-shadow: 2px -2px 30px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px -2px 30px -6px rgba(0,0,0,0.75);
        box-shadow: 2px -2px 30px -6px rgba(0,0,0,0.75);
        border-radius: 4px;
        -ms-transform: translateY(400%);
        transform: translateY(400%);
    }
    .right{
        position: absolute;
        right: .1em;
    }
    .left{
        position: absolute;
        left: .1em;
    }
    .container-dots{
        position: absolute;
        bottom: -2em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:.4em;
        z-index: 99;
        .dot{
            width:11px;
            height: 11px;
            background-color: white;
            border:3px solid transparent;
            border-radius: 50%;
            -webkit-box-shadow: 2px -2px 30px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px -2px 30px -6px rgba(0,0,0,0.75);
            box-shadow: 2px -2px 30px -6px rgba(0,0,0,0.75);
            cursor: pointer;
            transition: .2s;
        }
        .dot-active{
            border: 3px solid lightgrey;
            background-color: rgb(20, 20, 20);
        }
    }
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes SlideFadeIn {
    0% {transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(1px);}
    50% {opacity: 1; filter: blur(1px);}
    100% {transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0);}
}

@media screen and (max-width:1000px){
    .container-slider{
        max-width: 480px;
        height: 280px;
        .btn-slide{
            -ms-transform: translateY(280%);
            transform: translateY(280%);
            font-size: 28px;
        }
    }
}

@media screen and (max-width:600px){
    .container-slider{
        width: 300px;
        height: 180px;
        .btn-slide{
            -ms-transform: translateY(180%);
            transform: translateY(180%);
        }
    }
}